@import "tailwindcss";

@theme {
  --color-gd-blue: #0066ff;
  --color-gd-red: #ff3300;
  --color-gd-dark: #0a0a0c;
  --color-gd-card: #151518;
}

body {
  background-image: url('../src/assets/BackgroudBoth.jpg');
  color: white;
  font-family: 'Inter', sans-serif;
}